/target
/data/yolov4-tiny_custom.cfg
/data/yolov4-tiny_custom.names
/data/yolov4-tiny_custom.weights
/data/video.mp4
/data/sample-2_960_540.mp4
/data/yolov4.cfg
/data/yolov4.weights
/data/10.57.20.154-morning.mp4
/data/10.57.21.27-morning.mp4
/data/10.57.21.28-morning.mp4
/data/work
/data/work/*.toml
/data/work/*.mp4
/data/yolov4-tiny-vehicles-rect.cfg
/data/yolov4-tiny-vehicles-rect_best.weights
/vs_code
/vscode